
useDynLib(epinet, .registration=TRUE)

# Suggested by devel win-builder check:
importFrom(utils, packageDescription)
importFrom("graphics", "lines", "plot", "text")
importFrom("stats", "cor", "model.frame", "model.matrix", "rexp",
             "rgamma", "runif")
importFrom("utils", "combn", "write.table")

# Export all names that do not begin with a dot.
exportPattern("^[^\\.]")

# Register S3 methods
S3method(print, epinet)
S3method(summary, epinet)
S3method(plot, epinet)
S3method(print, epidemic)
S3method(summary, epidemic)
S3method(plot, epidemic)
